<!DOCTYPE html>
<html>
<head>
  <title>Auth Page</title>
  <link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
  <img class="hero" src="https://cdn-icons-png.flaticon.com/512/29/29302.png" alt="Books Icon">
  <h1>Welcome</h1>
  <p>ini merupakan aplikasi peminjaman buku tercanggih sedunia dengan berbagai fitur yang memudahkan anda meminjam buku dan mengembalikannya!!!</p>
  <a href="/users/add">Sign Up</a>
  <br>
  <a href="/login">Login</a>

</body>
</html>
